<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <style>
        body {
            background-color: wheat ;
        }
        
    </style>
</head>
<body>
    <h1>Admin Dashboard</h1>
    <h4>Insert details of your liked movies</h4><br>
    <form action="/adminfill">
    <input type="text" name="movie" placeholder="Movie Name" required>
    <input type="text" name="actor" placeholder="Actor" required>
    <input type="text" name="actress" placeholder="Actress" required>
    <input type="text" name="yor" placeholder="Year Or Release" required>
    <input type="text" name="director" placeholder="Director" required>
    <input type="text" name="rating" placeholder="Your Rating" required>
    <br><br>
    <input type="submit" value="SUBMIT">
    </form>

</body>
</html>